In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

import sys
import os
import pytreebank
import nltk

import tensorflow as tf
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob
import string
from nltk.corpus import stopwords

# SCRIPT_DIR = os.path.dirname(os.path.abspath('../scripts/scripts/'))
# sys.path.append(os.path.dirname(SCRIPT_DIR))

# from scripts.constants import PATH_TO_DATA, DATA_FILE_NAME

In [2]:
data = pytreebank.load_sst("data/SST2-Data/SST2-Data/trainDevTestTrees_PTB/trees/")

In [3]:
out_path = os.path.join("data/sst_{}.txt")

In [4]:
for cat in ['train','test','dev']:
    with open(out_path.format(cat),"w") as file:
        for item in data[cat]:
            file.write("__label__{}\t{}\n".format(
                item.to_labeled_lines()[0][0] +1,
                item.to_labeled_lines()[0][1]
            ))
    
    print("done with {}".format(file))

done with <_io.TextIOWrapper name='data/sst_train.txt' mode='w' encoding='UTF-8'>
done with <_io.TextIOWrapper name='data/sst_test.txt' mode='w' encoding='UTF-8'>
done with <_io.TextIOWrapper name='data/sst_dev.txt' mode='w' encoding='UTF-8'>

In [5]:
df_train = pd.read_csv("data/sst_train.txt",sep="\t",header=None,names=['label','text'])
df_train['label'] = df_train['label'].str.replace("__label__","")
df_train['label'] = df_train['label'].astype(int).astype("category")

df_test = pd.read_csv("data/sst_test.txt",sep="\t",header=None,names=['label','text'])
df_test['label'] = df_test['label'].str.replace("__label__","")
df_test['label'] = df_test['label'].astype(int).astype("category")

In [6]:
df_train

     label                                               text
0        4  The Rock is destined to be the 21st Century 's...
1        5  The gorgeously elaborate continuation of `` Th...
2        4  Singer/composer Bryan Adams contributes a slew...
3        3  You 'd think by now America would have had eno...
4        4               Yet the act is still charming here .
...    ...                                                ...
8539     1                                    A real snooze .
8540     2                                     No surprises .
8541     4  We 've seen the hippie-turned-yuppie plot befo...
8542     1  Her fans walked out muttering words like `` ho...
8543     2                                In this case zero .

[8544 rows x 2 columns]

In [7]:
df_test

     label                                               text
0        3                     Effective but too-tepid biopic
1        4  If you sometimes like to go to the movies to h...
2        5  Emerges as something rare , an issue movie tha...
3        3  The film provides some great insight into the ...
4        5  Offers that rare combination of entertainment ...
...    ...                                                ...
2205     4                   An imaginative comedy/thriller .
2206     5                      ( A ) rare , beautiful film .
2207     5                 ( An ) hilarious romantic comedy .
2208     4                Never ( sinks ) into exploitation .
2209     1                        ( U ) nrelentingly stupid .

[2210 rows x 2 columns]

In [7]:
def preprocess_text(text):
    text = text.lower()
    return text

def remove_punctuation(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

def remove_stopwords(text):
    stop_words = set(stopwords.words("english"))
    filtered_text = [word for word in text.split() if word not in stop_words]
    return " ".join(filtered_text)

In [9]:
df_train['text'] = df_train['text'].apply(preprocess_text)
df_train['text'] = df_train['text'].apply(remove_punctuation)
df_train['text'] = df_train['text'].apply(remove_stopwords)

In [11]:
df_test['text'] = df_test['text'].apply(preprocess_text)
df_test['text'] = df_test['text'].apply(remove_punctuation)
df_test['text'] = df_test['text'].apply(remove_stopwords)

In [12]:
embedding = "https://tfhub.dev/google/tf2-preview/gnews-swivel-20dim/1"

In [13]:
import tensorflow_hub as hub
hub_layer = hub.KerasLayer(embedding, input_shape=[], dtype=tf.string, trainable=True)

In [14]:
hub_layer(df_train['text'][:10])

<tf.Tensor: shape=(10, 20), dtype=float32, numpy=
array([[ 4.83856171e-01,  1.25281932e-02,  6.12146020e-01,
        -3.81588101e-01, -7.84492791e-01,  6.13168329e-02,
        -9.87816751e-01, -1.88001141e-01, -1.11080989e-01,
        -1.05911863e+00, -8.73591602e-01,  9.80120182e-01,
        -4.40951884e-01, -4.85567808e-01, -1.48103905e+00,
         6.54968679e-01,  8.00504029e-01, -2.91959167e-01,
        -1.35966527e+00, -2.35040057e-02],
       [ 1.36769378e+00, -3.94448787e-01,  1.43136501e+00,
         3.77309382e-01, -6.99403107e-01,  8.43796283e-02,
        -4.31156218e-01, -4.12688642e-05,  1.15393925e+00,
        -1.58598304e+00,  9.82125551e-02, -6.24312878e-01,
        -4.65623885e-01, -9.61661115e-02, -4.09871757e-01,
        -4.81311798e-01,  2.76458502e-01, -3.26539099e-01,
        -8.79306912e-01, -9.33691740e-01],
       [ 1.25544357e+00, -7.27126539e-01,  1.90472507e+00,
        -2.11792991e-01, -1.63096476e+00, -5.84068358e-01,
        -5.90886354e-01, -3.22077453e-01,  1.52110243e+00,
        -2.29265809e+00, -5.86290717e-01,  5.06570101e-01,
        -8.26559424e-01, -2.74264067e-01, -8.10746372e-01,
        -7.94913054e-01,  8.62066150e-01, -5.14501870e-01,
        -1.45533466e+00, -1.14854527e+00],
       [ 5.45846343e-01, -3.37266296e-01,  1.20262071e-01,
        -4.71045673e-01, -1.82496238e+00, -7.60144472e-01,
        -8.55193555e-01,  7.13060856e-01,  2.41033763e-01,
         2.01423407e-01, -1.65822491e-01,  5.45167387e-01,
         4.01782990e-03,  1.38472691e-01, -1.37295532e+00,
         2.48376697e-01,  1.38853681e+00, -8.50177765e-01,
        -8.84970069e-01, -4.65753883e-01],
       [ 9.74120855e-01, -8.22318316e-01,  1.67672718e+00,
        -1.14666134e-01, -1.43165886e+00, -5.10332704e-01,
        -6.93914056e-01,  1.00750661e+00,  1.44726610e+00,
        -2.67150491e-01, -1.94150478e-01,  1.00423992e-02,
        -6.00260377e-01, -4.09649253e-01, -1.83393621e+00,
         7.09336638e-01,  5.00562012e-01,  1.61937892e-01,
        -1.05072367e+00, -3.06295961e-01],
       [ 1.47908306e+00, -6.79434240e-01,  1.38682854e+00,
        -8.13532054e-01, -3.03917766e-01,  1.73493475e-02,
         5.20496130e-01,  5.19971967e-01,  1.63676250e+00,
        -1.37704149e-01, -6.02475047e-01, -2.62102991e-01,
        -6.76361859e-01,  6.96808696e-02, -1.29492116e+00,
        -1.21722305e+00,  1.11917233e+00, -1.26132473e-01,
        -1.29563761e+00, -1.95312545e-01],
       [ 2.53168583e+00,  7.57254481e-01,  1.11969364e+00,
         1.74363598e-01, -2.95527816e-01, -7.56553113e-01,
         5.69222420e-02,  3.97957057e-01,  9.22998190e-01,
        -2.32799315e+00,  3.93448770e-01,  7.35692859e-01,
        -1.12201118e+00, -1.50112420e-01, -8.50825071e-01,
         1.97111946e-02, -1.15263602e-02, -2.99291611e-01,
        -1.80298734e+00, -9.57637966e-01],
       [ 1.27025855e+00, -1.23862907e-01,  1.37621653e+00,
        -8.89487386e-01, -8.15642655e-01, -3.51123184e-01,
        -5.53133428e-01,  5.37584424e-01,  1.20964265e+00,
        -8.78175914e-01, -3.42049956e-01, -4.79394058e-03,
        -1.79435983e-01, -2.68966973e-01, -9.26247120e-01,
        -3.57818395e-01,  8.60511661e-01,  1.40344933e-01,
        -9.78123665e-01, -6.29882753e-01],
       [ 7.94457734e-01, -4.09617633e-01,  3.28212887e-01,
        -4.99040067e-01, -1.79645553e-01,  4.92308855e-01,
        -2.36020744e-01, -9.84224007e-02,  3.41512382e-01,
        -3.53556156e-01, -2.57838070e-01,  1.79290175e-01,
        -6.50564790e-01, -5.23905873e-01, -2.12954447e-01,
        -1.61989346e-01, -6.20479643e-01,  6.36179686e-01,
         2.11206064e-01,  1.02486193e-01],
       [ 3.81243229e-01,  4.22262132e-01,  6.87484503e-01,
        -1.34869501e-01,  7.29552507e-01, -1.92816317e+00,
        -8.15971315e-01, -3.87742311e-01, -1.22977868e-01,
        -1.65300882e+00,  1.23607671e+00,  5.82617462e-01,
         7.55313337e-01, -2.44678706e-02,  1.81017727e-01,
         2.68067002e-01,  1.12343431e+00, -1.46744967e+00,
         4.68141884e-02, -6.84805989e-01]], dtype=float32)>

In [15]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='softmax'))

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, 20)                400020

 dense (Dense)               (None, 16)                336

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 400373 (1.53 MB)
Trainable params: 400373 (1.53 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
model.compile(optimizer='adam', loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True), metrics=['accuracy'])

In [18]:
train_dataset = tf.data.Dataset.from_tensor_slices((df_train['text'], df_train['label']))
test_dataset = tf.data.Dataset.from_tensor_slices((df_test['text'], df_test['label']))

# Batch the datasets
batch_size = 512
train_dataset = train_dataset.batch(batch_size)
test_dataset = test_dataset.batch(batch_size)

In [19]:
df_train

     label                                               text
0        4  rock destined 21st century new conan going mak...
1        5  gorgeously elaborate continuation lord rings t...
2        4  singercomposer bryan adams contributes slew so...
3        3  think america would enough plucky british ecce...
4        4                             yet act still charming
...    ...                                                ...
8539     1                                        real snooze
8540     2                                          surprises
8541     4  seen hippieturnedyuppie plot enthusiastic char...
8542     1  fans walked muttering words like horrible terr...
8543     2                                          case zero

[8544 rows x 2 columns]

In [20]:
history = model.fit(
    train_dataset,      
    epochs=100,                                 
    validation_data=test_dataset, 
    verbose=1                                   
)

Epoch 1/100

/Users/mazeltan/Desktop/CZ4042_Group_project/env/lib/python3.11/site-packages/tensorflow/python/util/dispatch.py:1260: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return dispatch_target(*args, **kwargs)
/Users/mazeltan/Desktop/CZ4042_Group_project/env/lib/python3.11/site-packages/keras/src/backend.py:5577: UserWarning: "`categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Softmax activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

17/17 [==============================] - 0s 7ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 2/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 3/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 4/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 5/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 6/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 7/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 8/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 9/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 10/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 11/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 12/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 13/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 14/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 15/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 16/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 17/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 18/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 19/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 20/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 21/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 22/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 23/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 24/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 25/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 26/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 27/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 28/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 29/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 30/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 31/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 32/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 33/100
17/17 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 34/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 35/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 36/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 37/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 38/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 39/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 40/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 41/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 42/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 43/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 44/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 45/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 46/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 47/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 48/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 49/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 50/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 51/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 52/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 53/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 54/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 55/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 56/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 57/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 58/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 59/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 60/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 61/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 62/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 63/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 64/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 65/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 66/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 67/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 68/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 69/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 70/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 71/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 72/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 73/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 74/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 75/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 76/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 77/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 78/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 79/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 80/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 81/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 82/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 83/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 84/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 85/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 86/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 87/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 88/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 89/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 90/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 91/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 92/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 93/100
17/17 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 94/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 95/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 96/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 97/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 98/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 99/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262
Epoch 100/100
17/17 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.1278 - val_loss: 0.0000e+00 - val_accuracy: 0.1262

In [21]:
def textblob_score(sentence):
    return TextBlob(sentence).sentiment.polarity
df_test['tb_score'] =  df_test['text'].apply(textblob_score)
df_test

     label                                               text  tb_score
0        3                          effective tootepid biopic     0.600
1        4  sometimes like go movies fun wasabi good place...     0.500
2        5  emerges something rare issue movie honest keen...     0.450
3        3  film provides great insight neurotic mindset c...     0.275
4        5    offers rare combination entertainment education     0.200
...    ...                                                ...       ...
2205     4                         imaginative comedythriller     0.600
2206     5                                rare beautiful film     0.575
2207     5                          hilarious romantic comedy     0.250
2208     4                           never sinks exploitation     0.050
2209     1                              u nrelentingly stupid    -0.800

[2210 rows x 3 columns]

In [22]:
df_test['tb_label'] = pd.cut(df_test['tb_score'],bins=5,labels=[1,2,3,4,5])
df_test  = df_test.drop(['tb_score'],axis=1)

In [23]:
df_test

     label                                               text tb_label
0        3                          effective tootepid biopic        4
1        4  sometimes like go movies fun wasabi good place...        4
2        5  emerges something rare issue movie honest keen...        4
3        3  film provides great insight neurotic mindset c...        4
4        5    offers rare combination entertainment education        3
...    ...                                                ...      ...
2205     4                         imaginative comedythriller        4
2206     5                                rare beautiful film        4
2207     5                          hilarious romantic comedy        4
2208     4                           never sinks exploitation        3
2209     1                              u nrelentingly stupid        1

[2210 rows x 3 columns]

In [24]:
from sklearn.metrics import f1_score, accuracy_score

In [25]:
def f1_acc(df,pred_column):
    f1_macro  = f1_score(df['label'],df[pred_column],average='macro')
    acc = accuracy_score(df['label'],df[pred_column])
    print("F1 Score : {} \n Accuracy : {}".format(f1_macro,acc))

In [26]:
f1_acc(df_test,"tb_label")

F1 Score : 0.24931670894536953
 Accuracy : 0.2832579185520362

In [29]:
vader = SentimentIntensityAnalyzer()

In [30]:
def vader_score(sent,vader):
    return vader.polarity_scores(sent)['compound']

In [31]:
df_test['vader_score'] =  df_test['text'].apply(lambda x : vader_score(x,vader))
df_test

,label,text,tb_label,vader_score
0,3,effective tootepid biopic,4,0.4767
1,4,sometimes like go movies fun wasabi good place...,4,0.8271
2,5,emerges something rare issue movie honest keen...,4,0.7783
3,3,film provides great insight neurotic mindset c...,4,0.5994
4,5,offers rare combination entertainment education,3,0.4215
...,...,...,...,...
2205,4,imaginative comedythriller,4,0.0000
2206,5,rare beautiful film,4,0.5994
2207,5,hilarious romantic comedy,4,0.7845
2208,4,never sinks exploitation,3,0.0000
2209,1,u nrelentingly stupid,1,-0.5267

In [32]:
df_test['vader_label'] = pd.cut(df_test['vader_score'],bins=5,labels=[1,2,3,4,5])
df_test = df_test.drop('vader_score',axis=1)
df_test

,label,text,tb_label,vader_label
0,3,effective tootepid biopic,4,4
1,4,sometimes like go movies fun wasabi good place...,4,5
2,5,emerges something rare issue movie honest keen...,4,5
3,3,film provides great insight neurotic mindset c...,4,5
4,5,offers rare combination entertainment education,3,4
...,...,...,...,...
2205,4,imaginative comedythriller,4,3
2206,5,rare beautiful film,4,5
2207,5,hilarious romantic comedy,4,5
2208,4,never sinks exploitation,3,3
2209,1,u nrelentingly stupid,1,2

In [33]:
f1_acc(df_test,"vader_label")

F1 Score : 0.30033715825124857
 Accuracy : 0.3040723981900452