In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

import sys
import os
import pytreebank
import nltk

from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

# SCRIPT_DIR = os.path.dirname(os.path.abspath('../scripts/scripts/'))
# sys.path.append(os.path.dirname(SCRIPT_DIR))

# from scripts.constants import PATH_TO_DATA, DATA_FILE_NAME

In [2]:
data = pytreebank.load_sst("data/SST2-Data/SST2-Data/trainDevTestTrees_PTB/trees/")

In [3]:
out_path = os.path.join("data/sst_{}.txt")

In [4]:
for cat in ['train','test','dev']:
    with open(out_path.format(cat),"w") as file:
        for item in data[cat]:
            file.write("__label__{}\t{}\n".format(
                item.to_labeled_lines()[0][0] +1,
                item.to_labeled_lines()[0][1]
            ))
    
    print("done with {}".format(file))

done with <_io.TextIOWrapper name='data/sst_train.txt' mode='w' encoding='UTF-8'>
done with <_io.TextIOWrapper name='data/sst_test.txt' mode='w' encoding='UTF-8'>
done with <_io.TextIOWrapper name='data/sst_dev.txt' mode='w' encoding='UTF-8'>

In [5]:
df_train = pd.read_csv("data/sst_train.txt",sep="\t",header=None,names=['label','text'])
df_train['label'] = df_train['label'].str.replace("__label__","")
df_train['label'] = df_train['label'].astype(int).astype("category")

df_test = pd.read_csv("data/sst_test.txt",sep="\t",header=None,names=['label','text'])
df_test['label'] = df_test['label'].str.replace("__label__","")
df_test['label'] = df_test['label'].astype(int).astype("category")

In [6]:
df_train

     label                                               text
0        4  The Rock is destined to be the 21st Century 's...
1        5  The gorgeously elaborate continuation of `` Th...
2        4  Singer/composer Bryan Adams contributes a slew...
3        3  You 'd think by now America would have had eno...
4        4               Yet the act is still charming here .
...    ...                                                ...
8539     1                                    A real snooze .
8540     2                                     No surprises .
8541     4  We 've seen the hippie-turned-yuppie plot befo...
8542     1  Her fans walked out muttering words like `` ho...
8543     2                                In this case zero .

[8544 rows x 2 columns]

In [7]:
df_test

     label                                               text
0        3                     Effective but too-tepid biopic
1        4  If you sometimes like to go to the movies to h...
2        5  Emerges as something rare , an issue movie tha...
3        3  The film provides some great insight into the ...
4        5  Offers that rare combination of entertainment ...
...    ...                                                ...
2205     4                   An imaginative comedy/thriller .
2206     5                      ( A ) rare , beautiful film .
2207     5                 ( An ) hilarious romantic comedy .
2208     4                Never ( sinks ) into exploitation .
2209     1                        ( U ) nrelentingly stupid .

[2210 rows x 2 columns]

In [8]:
import tensorflow as tf

In [10]:
embedding = "https://tfhub.dev/google/nnlm-en-dim50/2"

In [11]:
import tensorflow_hub as hub
hub_layer = hub.KerasLayer(embedding, input_shape=[], dtype=tf.string, trainable=True)

In [13]:
hub_layer(df_train['text'][:10])

<tf.Tensor: shape=(10, 50), dtype=float32, numpy=
array([[ 1.23052120e-01, -4.67815287e-02,  2.00500950e-01,
         1.68864891e-01,  1.44037500e-01, -2.09933762e-02,
        -4.41514961e-02, -1.56816453e-01, -3.81152302e-01,
         5.77566326e-02, -1.39520928e-01,  1.62546530e-01,
        -4.70357202e-02,  3.79464775e-03, -3.93334217e-02,
        -1.05295621e-01, -3.59188944e-01,  2.13422179e-01,
         9.63375997e-03, -4.80615586e-01,  1.91493690e-01,
        -8.31796303e-02,  6.94135651e-02,  2.92505831e-01,
        -2.11289406e-01,  2.41886660e-01, -2.95723855e-01,
         1.36249736e-01,  3.62417847e-03,  1.03047252e-01,
        -1.45836189e-01,  8.97351578e-02,  7.98443481e-02,
        -1.28481850e-01, -4.08470519e-02,  2.07875982e-01,
        -1.26691535e-02,  4.92160507e-02,  1.06361024e-01,
        -1.37091309e-01, -2.90117353e-01,  1.08392805e-01,
        -2.01896980e-01, -1.26373842e-01, -4.55318838e-01,
        -2.96488553e-01, -1.38639137e-01, -1.14851207e-01,
        -2.28263497e-01, -1.91074803e-01],
       [-1.32268235e-01, -9.96134579e-02,  2.49677256e-01,
         2.40781590e-01,  7.88807571e-02, -4.18054760e-01,
        -1.46989018e-01, -2.94611216e-01, -1.91120699e-01,
         8.50919038e-02,  4.74341586e-02, -1.62640125e-01,
        -1.86830685e-01, -7.87476897e-02,  6.45704642e-02,
        -1.18551925e-02, -1.49088725e-01, -3.56494337e-01,
         2.50927031e-01, -3.57462406e-01,  6.13251254e-02,
        -2.06256330e-01,  1.20892957e-01,  3.94198038e-02,
        -2.81987250e-01,  1.42902628e-01, -1.45926446e-01,
        -1.40554786e-01,  4.14313197e-01, -1.32868975e-01,
        -3.43352169e-01,  7.80750290e-02, -2.52521574e-01,
        -1.28169045e-01, -2.28861585e-01,  1.26687065e-01,
         2.02836394e-01,  8.74372348e-02, -7.25645274e-02,
        -3.12368393e-01, -1.54747874e-01,  8.21079537e-02,
        -2.05995530e-01, -1.89719528e-01, -1.39214605e-01,
        -4.39861745e-01, -2.59756017e-02,  1.26873329e-01,
         9.48778167e-02, -1.42197311e-01],
       [ 2.06825078e-01, -2.93462072e-03,  3.34334821e-01,
         1.01470232e-01, -3.69940028e-02, -2.49201715e-01,
        -1.54602945e-01, -3.37816328e-02, -3.40637296e-01,
         1.80546358e-01, -2.51175575e-02,  2.08892658e-01,
        -2.92366475e-01,  4.72327210e-02,  1.58452615e-01,
        -2.29264900e-01, -1.83845043e-01,  2.71083027e-01,
        -9.76438671e-02, -2.94573784e-01, -2.15417132e-01,
        -6.24080822e-02,  3.97296041e-01,  2.01939076e-01,
        -1.48689076e-01,  2.11710230e-01, -4.43913043e-01,
         4.12251428e-02,  4.57962662e-01, -3.33488822e-01,
        -1.58179551e-02, -1.60731301e-01,  7.49724545e-03,
        -1.76722154e-01, -3.53825897e-01,  4.56942804e-02,
         5.93904629e-02, -9.73383561e-02,  2.27640778e-01,
        -5.99871039e-01, -2.88281530e-01,  2.76974612e-03,
        -4.21251744e-01, -5.58817685e-02,  7.89361373e-02,
        -2.90067345e-01, -1.26561895e-01, -2.64807016e-01,
         1.07458331e-01, -8.21665451e-02],
       [-4.39226255e-02, -2.76671089e-02, -2.92007208e-01,
         1.21827275e-01,  1.64425328e-01, -2.33429283e-01,
        -9.76111740e-02, -3.03839892e-01, -1.16827682e-01,
         8.66172463e-02, -8.56281072e-03, -1.32839635e-01,
        -1.72674388e-01,  1.13201037e-01, -1.68250248e-01,
        -8.22301656e-02, -9.41825211e-02,  1.58725098e-01,
         7.65679479e-02, -3.61151367e-01,  2.54505455e-01,
        -1.89862534e-01, -6.01046979e-02, -1.86564878e-01,
        -2.99180686e-01,  1.79357409e-01, -3.00420076e-01,
        -1.22330114e-01,  2.99485505e-01, -2.31867954e-02,
        -9.81675535e-02,  8.85182396e-02,  2.50946015e-01,
         2.01617137e-01, -1.45513415e-01,  2.96885341e-01,
         1.46623226e-02, -1.66616172e-01,  1.49535716e-01,
        -1.39009625e-01, -3.21030580e-02, -1.73552468e-01,
        -5.78256771e-02,  9.85160805e-05, -6.37937859e-02,
         1.67145543e-02, -7.54286125e-02,  1.30701035e-01,
         3.81734632e-02, -9.61968377e-02],
       [ 2.69408505e-02,  1.57226816e-01,  1.33720040e-02,
        -1.15254298e-02, -2.17228848e-02, -2.17985645e-01,
         4.78548147e-02,  7.02299997e-02, -1.87204197e-01,
         2.64073581e-01, -5.25865257e-02, -3.36755030e-02,
         2.13616826e-02,  2.07053013e-02, -6.99465424e-02,
        -1.29864573e-01, -2.70023346e-01, -3.48832994e-03,
         4.77871932e-02, -2.74965495e-01, -2.07445752e-02,
        -1.93610355e-01,  2.17289671e-01, -2.21184082e-02,
        -4.51447107e-02,  1.11745067e-01, -2.08048955e-01,
        -1.46993250e-01,  3.40969354e-01, -2.72017121e-02,
        -3.29039812e-01,  1.52652785e-01, -8.18025619e-02,
        -1.57143146e-01, -3.65975112e-01,  1.37318492e-01,
         1.47605434e-01,  1.24837749e-01,  6.99555352e-02,
        -1.12839542e-01, -3.32186632e-02,  2.51964688e-01,
         2.95778271e-03, -1.16661519e-01, -1.07590124e-01,
        -4.86504845e-02, -7.93991517e-03, -8.93603191e-02,
        -6.07937574e-02, -6.01296425e-02],
       [ 1.43380299e-01,  1.66909471e-01,  1.21989653e-01,
         4.26062405e-01, -5.11141494e-02, -3.05793703e-01,
        -1.42695963e-01, -4.81879056e-01, -4.45354760e-01,
         2.06306130e-01, -2.23179728e-01,  7.39310011e-02,
        -1.83715329e-01, -7.95989577e-03,  3.58202517e-01,
         5.88875413e-02, -2.36495435e-01, -3.60564053e-01,
        -1.15867378e-02, -5.38470030e-01,  1.03590645e-01,
         1.84423208e-01,  3.77804309e-01,  1.05964221e-01,
        -6.88592970e-01,  8.95069614e-02, -2.50631332e-01,
         3.69795151e-02,  3.85961294e-01, -1.77400619e-01,
        -9.30918083e-02,  1.60170734e-01,  5.27373813e-02,
        -3.39916646e-01, -5.09273171e-01,  1.45439848e-01,
         1.11941867e-01,  3.89669836e-02,  1.05539395e-03,
        -5.26882291e-01,  1.63970172e-01,  1.36530608e-01,
        -6.06279485e-02, -3.32732141e-01,  1.34055272e-01,
        -4.55596387e-01, -1.14383407e-01, -4.06153649e-02,
         1.78841967e-02, -2.81303197e-01],
       [ 1.47811741e-01, -7.29093477e-02,  4.65265960e-01,
         2.28727192e-01, -3.29743117e-01, -1.93794742e-01,
        -3.79349627e-02, -8.59569684e-02, -2.95946538e-01,
         1.94953665e-01, -2.64394619e-02, -2.47186255e-02,
        -2.33382702e-01, -1.85602263e-01,  1.97381690e-01,
        -4.09963787e-01,  1.53661380e-02, -3.90836567e-01,
        -1.91471651e-02, -2.86488473e-01, -1.22533599e-02,
        -4.18823183e-01,  3.06828588e-01,  1.01874627e-01,
        -1.88013673e-01,  1.03019528e-01, -2.13701248e-01,
         8.96048471e-02,  2.79208750e-01, -2.81574339e-01,
        -4.03526902e-01, -6.66482002e-02, -2.25535572e-01,
        -7.33570904e-02, -3.18522722e-01, -6.71702251e-02,
         9.92658958e-02,  2.16529146e-01, -1.19506098e-01,
        -5.31234205e-01, -1.01669110e-01,  8.77216607e-02,
        -1.43643871e-01,  2.09810343e-02,  1.06105246e-01,
        -2.64902085e-01, -1.62427351e-02,  1.07044488e-01,
         1.86343536e-01,  1.52093232e-01],
       [ 5.66004440e-02, -4.48651798e-03,  2.76525587e-01,
         2.21529335e-01, -2.38115683e-01, -2.28500709e-01,
        -2.33128816e-01, -9.48472470e-02, -3.27948421e-01,
         1.40227526e-01,  1.36751011e-01,  2.15689074e-02,
        -2.17883885e-01,  4.02861871e-02,  3.29016075e-02,
        -3.05570722e-01, -1.05655365e-01,  1.58634670e-02,
        -1.33675426e-01, -4.51583594e-01, -4.39671278e-02,
        -2.19450638e-01,  7.01103881e-02,  4.68446799e-02,
        -3.33999842e-01, -6.12773634e-02, -6.36613965e-02,
        -1.41139254e-02,  1.19274944e-01, -2.89140880e-01,
        -2.05779523e-01, -7.96129741e-03, -1.61290765e-01,
         7.59721696e-02, -1.86440051e-01,  1.65703207e-01,
         1.89806387e-01,  2.19533890e-02, -1.33441165e-01,
        -3.54847670e-01,  8.99982755e-04,  6.29094318e-02,
        -1.54026911e-01, -1.01040840e-01,  6.89532980e-02,
        -2.54483670e-01, -8.66009593e-02, -6.43542707e-02,
        -3.98745574e-02, -1.93853855e-01],
       [ 3.87248546e-02, -1.30465448e-01,  1.22314714e-01,
         3.04057509e-01, -1.19019091e-01,  2.78199166e-02,
         7.82169476e-02, -1.25310048e-01, -1.57072693e-01,
         1.48028404e-01, -2.36890003e-01,  2.32547410e-02,
        -5.65687679e-02,  5.00496291e-02,  2.07391739e-01,
         4.23220806e-02,  4.46198462e-03, -7.43387565e-02,
         4.47063372e-02, -3.52889121e-01,  8.39530081e-02,
         4.16670851e-02,  2.96865880e-01,  1.07123047e-01,
        -3.16184998e-01, -5.62808886e-02, -2.97540277e-02,
         7.61779547e-02,  3.94251168e-01,  1.09927438e-01,
        -1.65728837e-01,  1.67077571e-01,  2.73995884e-02,
        -1.32940173e-01,  7.62854740e-02,  3.23365659e-01,
        -1.57986030e-01,  1.63048238e-01,  4.04627472e-02,
        -4.01409380e-02, -2.30592012e-01,  1.60287619e-01,
        -2.60458797e-01, -1.26820475e-01, -2.23992765e-01,
        -4.92765158e-01, -1.20793402e-01, -3.88684496e-02,
         2.08738968e-01, -2.29809396e-02],
       [-1.08680278e-01,  7.22353300e-03,  2.49373540e-02,
         1.44318789e-01, -4.12394479e-02, -3.89419585e-01,
         1.59253865e-01,  3.84430550e-02,  1.52554154e-01,
         2.39722952e-02, -1.01792336e-01,  1.03571326e-01,
         1.01339467e-01,  1.29768031e-03,  9.80013236e-02,
         4.26549129e-02, -1.80134386e-01, -2.08756477e-01,
         1.94693506e-01, -8.65372121e-02,  1.04871280e-01,
         9.84967351e-02,  8.83299634e-02, -2.44648889e-01,
        -2.39868119e-01, -2.76819646e-01, -1.91604774e-02,
         1.67682111e-01,  1.86443985e-01,  1.38654068e-01,
        -1.90109417e-01,  3.64048313e-03, -7.18723238e-02,
         1.18835390e-01,  7.72536471e-02,  3.63174565e-02,
         1.59006208e-01, -7.37379566e-02, -1.21323980e-01,
         7.09418282e-02, -5.97670488e-02,  1.58950031e-01,
         8.46918747e-02, -1.97376058e-01, -8.52419585e-02,
        -1.00106396e-01, -2.30506852e-01,  2.62687624e-01,
        -1.83822624e-02,  4.85472828e-02]], dtype=float32)>

In [16]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dense(1))

In [17]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, 50)                48190600

 dense_1 (Dense)             (None, 16)                816

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 48191433 (183.84 MB)
Trainable params: 48191433 (183.84 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
model.compile(optimizer='adam', loss=tf.keras.losses.BinaryCrossentropy(from_logits=True), metrics=['accuracy'])

In [20]:
history = model.fit(
    df_train(512),      
    epochs=10,                                 
    validation_data=df_test(512), 
    verbose=1                                   
)

TypeError: 'DataFrame' object is not callable

In [21]:
def textblob_score(sentence):
    return TextBlob(sentence).sentiment.polarity
df_test['tb_score'] =  df_test['text'].apply(textblob_score)
df_test

     label                                               text  tb_score
0        3                     Effective but too-tepid biopic     0.600
1        4  If you sometimes like to go to the movies to h...     0.500
2        5  Emerges as something rare , an issue movie tha...     0.450
3        3  The film provides some great insight into the ...     0.275
4        5  Offers that rare combination of entertainment ...     0.200
...    ...                                                ...       ...
2205     4                   An imaginative comedy/thriller .     0.600
2206     5                      ( A ) rare , beautiful film .     0.575
2207     5                 ( An ) hilarious romantic comedy .     0.250
2208     4                Never ( sinks ) into exploitation .     0.050
2209     1                        ( U ) nrelentingly stupid .    -0.800

[2210 rows x 3 columns]

In [22]:
df_test['tb_label'] = pd.cut(df_test['tb_score'],bins=5,labels=[1,2,3,4,5])
df_test  = df_test.drop(['tb_score'],axis=1)

In [23]:
df_test

     label                                               text tb_label
0        3                     Effective but too-tepid biopic        4
1        4  If you sometimes like to go to the movies to h...        4
2        5  Emerges as something rare , an issue movie tha...        4
3        3  The film provides some great insight into the ...        4
4        5  Offers that rare combination of entertainment ...        3
...    ...                                                ...      ...
2205     4                   An imaginative comedy/thriller .        4
2206     5                      ( A ) rare , beautiful film .        4
2207     5                 ( An ) hilarious romantic comedy .        4
2208     4                Never ( sinks ) into exploitation .        3
2209     1                        ( U ) nrelentingly stupid .        1

[2210 rows x 3 columns]

In [25]:
from sklearn.metrics import f1_score, accuracy_score

In [30]:
def f1_acc(df,pred_column):
    f1_macro  = f1_score(df['label'],df[pred_column],average='macro')
    acc = accuracy_score(df['label'],df[pred_column])
    print("F1 Score : {} \n Accuracy : {}".format(f1_macro,acc))

In [31]:
f1_acc(df_test,"tb_label")

F1 Score : 0.2468141571266554
 Accuracy : 0.283710407239819

In [35]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/mazeltan/nltk_data...

True

In [36]:
vader = SentimentIntensityAnalyzer()

In [37]:
def vader_score(sent,vader):
    return vader.polarity_scores(sent)['compound']

In [41]:
df_test['vader_score'] =  df_test['text'].apply(lambda x : vader_score(x,vader))
df_test

,label,text,tb_label,vader_score
0,3,Effective but too-tepid biopic,4,0.2617
1,4,If you sometimes like to go to the movies to h...,4,0.8271
2,5,"Emerges as something rare , an issue movie tha...",4,0.6592
3,3,The film provides some great insight into the ...,4,0.5994
4,5,Offers that rare combination of entertainment ...,3,0.4215
...,...,...,...,...
2205,4,An imaginative comedy/thriller .,4,0.0000
2206,5,"( A ) rare , beautiful film .",4,0.5994
2207,5,( An ) hilarious romantic comedy .,4,0.7845
2208,4,Never ( sinks ) into exploitation .,3,0.0000
2209,1,( U ) nrelentingly stupid .,1,-0.5267

In [42]:
df_test['vader_label'] = pd.cut(df_test['vader_score'],bins=5,labels=[1,2,3,4,5])
df_test = df_test.drop('vader_score',axis=1)
df_test

,label,text,tb_label,vader_label
0,3,Effective but too-tepid biopic,4,4
1,4,If you sometimes like to go to the movies to h...,4,5
2,5,"Emerges as something rare , an issue movie tha...",4,5
3,3,The film provides some great insight into the ...,4,5
4,5,Offers that rare combination of entertainment ...,3,4
...,...,...,...,...
2205,4,An imaginative comedy/thriller .,4,3
2206,5,"( A ) rare , beautiful film .",4,5
2207,5,( An ) hilarious romantic comedy .,4,5
2208,4,Never ( sinks ) into exploitation .,3,3
2209,1,( U ) nrelentingly stupid .,1,2

In [44]:
f1_acc(df_test,"vader_label")

F1 Score : 0.3136923605939262
 Accuracy : 0.3158371040723982